In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import multiprocessing as mp
from joblib import Parallel, delayed
from selenium.webdriver.support.ui import Select
import time
import pandas as pd
from sqlalchemy import create_engine

In [10]:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--incognito')
opciones.add_argument('--start-maximized')

In [11]:
url = 'https://www.rfevb.com/competiciones/superliga-masculina'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [12]:
# Click cookies
driver.find_element(By.XPATH , '//*[@id="lnkCookie"]').click()

In [13]:
# Entramos en plantilla
driver.find_element(By.XPATH , '//*[@id="miWrapper"]/ul/li[2]/ul/li[1]/a').click()

In [14]:
equipos = driver.find_elements(By.CLASS_NAME, 'rlvI')[0:12]
# Verificamos que los que nos devuelve son datos de mas entonces reiniciamos la lista con los elementos que nos interesa.

In [15]:
superLiga_Masculino=[]
for i in range(12):
    
    e = driver.find_elements(By.CLASS_NAME, 'rlvI')[i]
    
    print(e.text)
    
    e.click()
    
    print('Estoy dentro.')
    
    #time.sleep(2)
   
    superLiga_Masculino.append(driver.find_elements(By.CLASS_NAME , 't-row')[3].text.split('\n'))
    
    print('Extraigo')
    
    #time.sleep(2)
    
    driver.get('https://rfevb-web.dataproject.com/CompetitionTeamSearch.aspx?ID=124')
    
    #time.sleep(2)

Arenal Emevé
Estoy dentro.
Extraigo
Cisneros Alter
Estoy dentro.
Extraigo
Club Vóley Palma
Estoy dentro.
Extraigo
Conectabalear CV Manacor
Estoy dentro.
Extraigo
CV Guaguas
Estoy dentro.
Extraigo
CV Melilla
Estoy dentro.
Extraigo
CV San Roque
Estoy dentro.
Extraigo
Grupo Herce Soria
Estoy dentro.
Extraigo
Pamesa Teruel Voleibol
Estoy dentro.
Extraigo
Unicaja Costa de Almería
Estoy dentro.
Extraigo
UPV Leleman Conqueridor
Estoy dentro.
Extraigo
Volei Villena Petrer
Estoy dentro.
Extraigo

In [16]:
superLiga_Masculino[0]

['#',
 'Nombre',
 'Posición',
 'Altura',
 'Año de nacimiento',
 'Alcance en ataque',
 'Alcance en bloqueo',
 '2',
 'Paradela Cortón Miguel',
 'Líbero',
 '-',
 '2004',
 '-',
 '-',
 '3',
 'Bouza Ferreiro Víctor',
 'Receptor',
 '-',
 '1990',
 '-',
 '-',
 '4',
 'Linares José Luis',
 'Opuesto',
 '-',
 '1998',
 '-',
 '-',
 '5',
 'Barrasa Portomeñe Samuel',
 'Líbero',
 '-',
 '2007',
 '-',
 '-',
 '6',
 'Edward Batalla Dexter',
 'Colocador/a',
 '-',
 '2000',
 '-',
 '-',
 '9',
 'Schulz Max',
 'Receptor',
 '-',
 '2002',
 '-',
 '-',
 '10',
 'Biliato Luca',
 'Opuesto',
 '-',
 '1993',
 '-',
 '-',
 '11',
 'Villar Álvarez Pablo',
 'Colocador/a',
 '-',
 '2002',
 '-',
 '-',
 '12',
 'Rodríguez Rubio Aurelio',
 'Middle-blocker',
 '-',
 '2000',
 '-',
 '-',
 '13',
 'Frías Collado Juan Francisco',
 'Middle-blocker',
 '-',
 '2000',
 '-',
 '-',
 '14',
 'Augustinho De Lara Sopschuk Luis Henrique',
 'Middle-blocker',
 '-',
 '2002',
 '-',
 '-',
 '17',
 'Ossola Gude Nahuel',
 'Receptor',
 '-',
 '2002',
 '-',
 '-']

# Prueba

In [17]:
superLiga_Masculino[0][0:4]

['#', 'Nombre', 'Posición', 'Altura']

In [18]:
superLiga_Masculino[0][4:]

['Año de nacimiento',
 'Alcance en ataque',
 'Alcance en bloqueo',
 '2',
 'Paradela Cortón Miguel',
 'Líbero',
 '-',
 '2004',
 '-',
 '-',
 '3',
 'Bouza Ferreiro Víctor',
 'Receptor',
 '-',
 '1990',
 '-',
 '-',
 '4',
 'Linares José Luis',
 'Opuesto',
 '-',
 '1998',
 '-',
 '-',
 '5',
 'Barrasa Portomeñe Samuel',
 'Líbero',
 '-',
 '2007',
 '-',
 '-',
 '6',
 'Edward Batalla Dexter',
 'Colocador/a',
 '-',
 '2000',
 '-',
 '-',
 '9',
 'Schulz Max',
 'Receptor',
 '-',
 '2002',
 '-',
 '-',
 '10',
 'Biliato Luca',
 'Opuesto',
 '-',
 '1993',
 '-',
 '-',
 '11',
 'Villar Álvarez Pablo',
 'Colocador/a',
 '-',
 '2002',
 '-',
 '-',
 '12',
 'Rodríguez Rubio Aurelio',
 'Middle-blocker',
 '-',
 '2000',
 '-',
 '-',
 '13',
 'Frías Collado Juan Francisco',
 'Middle-blocker',
 '-',
 '2000',
 '-',
 '-',
 '14',
 'Augustinho De Lara Sopschuk Luis Henrique',
 'Middle-blocker',
 '-',
 '2002',
 '-',
 '-',
 '17',
 'Ossola Gude Nahuel',
 'Receptor',
 '-',
 '2002',
 '-',
 '-']

In [28]:
jugadores = pd.read_csv('../../data/jugadores.csv')

# pasamos este archivo a SQL.

In [25]:
with open('..\..\pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [26]:
from sqlalchemy import create_engine

# Establece una conexión para crear la base de datos
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)

# Crea un motor para la base de datos FenixClub
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/FenixClub')

In [27]:
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/FenixClub')

In [29]:
jugadores.to_sql('jugadores', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`fenixclub`.`jugadores`, CONSTRAINT `jugadores_ibfk_1` FOREIGN KEY (`id_equipo`) REFERENCES `equipos` (`id_equipo`))')
[SQL: INSERT INTO jugadores (`Dorsal`, `Nombre`, `Posición`, `Año_de_nacimiento`, id_jugador, id_equipo) VALUES (%(Dorsal)s, %(Nombre)s, %(Posición)s, %(Año_de_nacimiento)s, %(id_jugador)s, %(id_equipo)s)]
[parameters: [{'Dorsal': '2', 'Nombre': 'Paradela Cortón Miguel', 'Posición': 'Líbero', 'Año_de_nacimiento': '2004', 'id_jugador': 1, 'id_equipo': 1}, {'Dorsal': '3', 'Nombre': 'Bouza Ferreiro Víctor', 'Posición': 'Receptor', 'Año_de_nacimiento': '1990', 'id_jugador': 2, 'id_equipo': 1}, {'Dorsal': '4', 'Nombre': 'Linares José Luis', 'Posición': 'Opuesto', 'Año_de_nacimiento': '1998', 'id_jugador': 3, 'id_equipo': 1}, {'Dorsal': '5', 'Nombre': 'Barrasa Portomeñe Samuel', 'Posición': 'Líbero', 'Año_de_nacimiento': '2007', 'id_jugador': 4, 'id_equipo': 1}, {'Dorsal': '6', 'Nombre': 'Edward Batalla Dexter', 'Posición': 'Colocador/a', 'Año_de_nacimiento': '2000', 'id_jugador': 5, 'id_equipo': 1}, {'Dorsal': '9', 'Nombre': 'Schulz Max', 'Posición': 'Receptor', 'Año_de_nacimiento': '2002', 'id_jugador': 6, 'id_equipo': 1}, {'Dorsal': '10', 'Nombre': 'Biliato Luca', 'Posición': 'Opuesto', 'Año_de_nacimiento': '1993', 'id_jugador': 7, 'id_equipo': 1}, {'Dorsal': '11', 'Nombre': 'Villar Álvarez Pablo', 'Posición': 'Colocador/a', 'Año_de_nacimiento': '2002', 'id_jugador': 8, 'id_equipo': 1}  ... displaying 10 of 168 total bound parameter sets ...  {'Dorsal': '23', 'Nombre': 'Jiménez Gallego Carlos', 'Posición': 'Receptor', 'Año_de_nacimiento': '1995', 'id_jugador': 167, 'id_equipo': 12}, {'Dorsal': '77', 'Nombre': 'Fernández Rodríguez Francisco', 'Posición': 'Receptor', 'Año_de_nacimiento': '1996', 'id_jugador': 168, 'id_equipo': 12}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
Jugadores.to_csv('Jugadores.csv', index=False)